.Summary {
  padding: 35px 60px 32px 34px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  .Summary-title {
    display: flex;
    text-align: center;
    gap: 30px;
    margin-bottom: 25px;
  }
  .Summary-name {
    opacity: 0.6;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .Summary-time {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #eee;
    p {
      color: #000;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.4;
      margin: 0;
    }
  }
  .Summary-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .Summary-item {
    width: 200px;
  }
  .Summary-avatar {
    display: flex;
    align-items: center;
    gap: 13px;
    img {
      width: 45px;
    }
    span {
      margin: 0;
      color: #000;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.6;
      text-align: left;
    }
  }
  .Summary-number {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.6;
  }
}
